<div class="log p-2 px-5">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-2">
      <%= f.label :name, class: "form-label" %><br/>
      <%= f.text_field :name,
                   autofocus: true,
                   autocomplete: "name",
                   class: "form-control w-75" %>
    </div>

    <div class="field mb-2">
      <%= f.label :bio, class: "form-label" %><br/>
      <%= f.text_field :bio,
                   autofocus: true,
                   autocomplete: "bio",
                   class: "form-control w-75" %>
    </div>

    <div class="field mb-2">
      <%= f.label :photo, class: "form-label" %><em>(Only api based photo URL)</em>
      <br/>
      <%= f.text_field :photo,
                   autofocus: true,
                   autocomplete: "photo",
                   class: "form-control w-75" %>
    </div>

    <div class="field mb-2">
      <%= f.label :email, class: "form-label" %><br/>
      <%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    class: "form-control w-75" %>
    </div>

    <div class="field mb-2">
      <%= f.label :password, class: "form-label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>
          characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password,
                       autocomplete: "new-password",
                       class: "form-control w-75" %>
    </div>

    <div class="field mb-2">
      <%= f.label :password_confirmation, class: "form-label" %><br/>
      <%= f.password_field :password_confirmation,
                       autocomplete: "new-password",
                       class: "form-control w-75" %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
