<div class="card border-info  m-3">
  <div class="card-header bg-transparent p-0"><%= render 'users/user_badge', user: @post.author %></div>
  <h3 class="card-header d-flex justify-content-between fs-2 m-0 p-2 bg-info"><%= @post.title %><span>
  <a href="#comments" class="text-decoration-none text-light">Comments 💬 :<%= @post.comments_counter %></a> 
  <%= button_to "Like 💕 #{@post.likes_counter} ", user_post_likes_path(user_id: @current_user.id, post_id: @post.id), method: :post %>
  </span></h3>
  <div class="card-body">
    <p class="card-text"><%= markdown(@post.text) %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% @post.comments.each do |comment| %>
      <li class="comments list-group-item"><%= comment.author.name%> : <%= comment.text %></li>
    <% end %>
  </ul>
  <div class="card-footer text-center bg-secondary text-light d-flex justify-content-between align-items-center">
    <span>
      <%= link_to 'Edit Post', edit_user_post_path(@post), class: 'btn btn-info' %>
    </span>
    <span class='fs-3'>Thank you</span>
    <span>
      <%= button_to "Destroy this post", user_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </span>
  </div>
</div>
<%= render "comments/form", url:user_post_comments_path(user_id:@user.id ,post_id:@post.id), locals:{post_id:@post.id}%>